@keyframes backgroundAnimation{
    from{
        background-position: 0 0;
    }
    to{
        background-position: 0 -10000px;
    }
}

body{
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.background{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(https://www.publicdomainpictures.net/pictures/330000/velka/image-1586716592K15.jpg);
    background-repeat: repeat;
    background-position: 0 0;
    background-size: 100% auto;
    animation: backgroundAnimation 500s linear infinite;
}

.center{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%); 
}
